#container{
  width: 95%;
  background-color: #FFF1D4;
  margin:0 auto;
}

p{
  color: #486AB7;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

h1{
  color: #486AB7;
  font-family: 'Bitter', serif;
  text-align: center;
  padding-top: 5px;
  background-color: #FFEE9E;
}

h2{
  color: #8CA5DD;
    font-family: 'Bitter', serif;
    font-size: 1.5em;
    text-align: center;
}

h4{
color: #a23339;
  font-family:  'Roboto', sans-serif;
  text-align: center;
}

.joke{
font-weight: bold;
text-align: center;
font-family: 'Roboto', sans-serif;
}

#nav li{
  list-style-type: none;
  margin: 0 auto;
  float: left;
  padding:0;
  width: 15%;

}

#nav a:link, a:visited {
    display: block;
    color: #fff;
    background-color: #FFAF6B;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    padding: 4px;
    font-family:'Roboto', sans-serif;
}

#nav a:hover, a:active{
  background-color: #FFCB9E;
}

img {
  border-style: none;
  display: block;
  margin-left:auto;
  margin-right: auto;
}
