#container{
  wideth: 95%;
  background-color: #e4ffd4;
  margin:0 auto;
}
p{
  color: #ff7373;
  font-family: Helvetica, Arial, sans-serif;
}

h1{
  color: #336600;
  font-family:  Georgia, "Times New Roman", serif;
  text-align: center;
}

h2{
  color: #a23339;
    font-family:  Georgia, "Times New Roman", serif;
    font-size: 1.5em;
}

h4{
color: #a23339;
  font-family:  Georgia, "Times New Roman", serif;
}

.joke{
font-weight: bold;
}

#nav li{
  list-style-type: none;
  float: left;
  margin:0;
  padding:0;
  width: 20%;
}

#nav a:link, a:visited {
    display: block;
    color: #fff;
    background-color: #98bf21;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    padding: 4px;
    font-family: Helvetica, Arial, sans-serif;
}

#nav a:hover, a:active{
  background-color: #7a991a;
}

img {
  border-style: none;
}
