/*
header{
  background-image: url("papersmall.jpg");
  background-repeat:no-repeat;
  padding-bottom: 2em;
}

header img{
  width: 100%;
} */

body{
  background: #302D32
}



h1{
  font-family: 'Raleway', sans-serif;
  margin-left: 2em;
  font-size: 3em;
  padding-top: 2em;
  font-weight: 300;
  color: #f4f4f4;

}
sup{

  font-size: .5em;
}


a{
  text-decoration: none;
  color: #f4f4f4;
}

.wrapper{
  margin: 2px;
  padding:1px;
}

.homenav{
  display: flex;
  flex-flow: column;
  flex-wrap: wrap;
  list-style-type: none;
  width: 50%;

}

.homenav li{
  font-family: 'Raleway', sans-serif;
  color: #f4f4f4;
  font-size: 2em;
  color: #373737;
  display: block;

  text-align: left;

  margin-left: 2.5em;
}

.homenav li a{

  color: #f4f4f4;

}

.homenav li a:hover{
  background: #FEDC3D;
  text-decoration: underline;
  font-weight: bold;
  padding-bottom: 4px;
  padding-left: 4px;
  box-shadow: 10px 10px 5px #444246;

}

.social {
  display: flex;
  flex-direction: row-reverse;


}

.social img{
  width: 2em;
  height: 2em;
  margin-left: 2px;
  margin-right: 2px;
}

.social img:hover{
  width: 2.5em;
  height: 2.5em;
}

footer h4{
  font-family: 'Raleway', sans-serif;

}

footer{
  padding-top: 1px;
  padding-bottom: 2px;
  background-color: #f4f4f4;
}
